/* Common styles for all devices */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #070707;
  color: aqua;
}

.logo img {
  height: 40px;
  width: auto;
}

ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

ul li {
  cursor: pointer;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #ff0883;
}

/* Responsive Styles */

/* HD TVs and Desktops */
@media screen and (min-width: 1024px) {
  nav {
    max-width: 1200px;
    margin: 0 auto;
  }

  .logo img {
    height: 60px;
  }

  ul li {
    font-size: 18px;
  }

  button {
    padding: 12px 24px;
    font-size: 18px;
  }
}

/* Laptops */
@media screen and (max-width: 1280px) {
  nav {
    padding: 15px;
    margin-bottom: 9rem;
  }

  .logo img {
    height: 40px;
  }

  ul li {
    font-size: 16px;
  }

  button {
    padding: 10px 20px;
    font-size: 16px;
  }
}

/* Smartphones */
@media screen and (max-width: 767px) {
  nav {
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

  .logo img {
    height: 30px;
  }

  ul li {
    font-size: 14px;
  }

  button {
    padding: 8px 16px;
    font-size: 14px;
  }
}
